*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Poppins;
    list-style: none;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: black;
    text-align: center;
    }
    body
    {
        height: fit-content;
    }
    @media only screen and (min-width:480px){
        main{
            height: 70%;
            width: 100%;
            color: aqua;
            /* justify-content: center;
            align-items: center; */
        }
         h2{
            color: #fff;
            font-size: 3rem;
            font-weight: 100;
            margin-bottom: -2rem;
            margin-top: 7rem;
        }
        h5{
            color: #6e6c6c;
            font-size: 2rem;
            font-weight: 10;
        
        }
        main .maincontent{
            margin: 10%;
            margin-left: 10%;
            display: flex;
            justify-content:center;
            align-items: center;
            justify-content: space-evenly;
            gap: 4rem;
        }
        section{
            background-color: aqua;
            height: 50vh;
            width: 60%;
            display: inline;
            
        }
         img{
            width: 12rem;
        
        }
        h3{
            color: gray;
            border: 2px solid;
            padding:0 10rem ;
            cursor: pointer;
            width: 15rem;
            margin-top: -5rem;
            margin-inline: 30rem;
            
        
        }
        
        
         
    }
    @media only screen and (min-width:992px) {
        main{
            height: 70%;
            color: aqua;
            /* justify-content: center;
            align-items: center; */
        }
         h2{
            color: #fff;
            font-size: 3rem;
            font-weight: 100;
            margin-bottom: -2rem;
            margin-top: 7rem;
        }
        h5{
            color: #6e6c6c;
            font-size: 2rem;
            font-weight: 10;
        
        }
        main .maincontent{
            margin: 10%;
            margin-left: 10%;
            display: flex;
            justify-content:center;
            align-items: center;
            justify-content: space-evenly;
            gap: 4rem;
        }
        section{
            background-color: aqua;
            height: 50vh;
            width: 60%;
            display: inline;
            
        }
         img{
            width: 12rem;
        
        }
        h3{
            color: gray;
            border: 2px solid;
            padding: 10px;
            cursor: pointer;
            width: 15rem;
            margin-top: -5rem;
            margin-inline: 30rem;
            
        
        }
        
        
        
    }